@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rotating-text {
  animation: rotateY 10s linear infinite;
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.flag-icon {
  animation: wave 2s infinite linear;
}

@keyframes wave {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(10deg);
  }
  50% {
      transform: rotate(0deg);
  }
  75% {
      transform: rotate(-10deg);
  }
  100% {
      transform: rotate(0deg);
  }
}
/*For react slick */
.slick-prev {
  left: 3% !important;
  z-index: 1;
  color: #376D94!important;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
  color: #376D94!important;
}
.slick-prev:before,
.slick-next:before {
  right: 3% !important;
  z-index: 1;
  color: #376D94!important;
}
.slick-slide > div {
  margin: 0 10px !important;
}
.slick-list {
  margin: 0 100px !important;
}
/* Adjust margin for mobile */
@media (max-width: 768px) {
  .slick-slide > div {
    margin: 0 5px !important; 
  }
  .slick-list {
    margin: 0 10px !important; 
  }
}



body {
  margin: 0;
  font-family:'DM Sans'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
